<h2 class="text-center">Skill Post Contact Mapping</h2>
<span us-spinner spinner-on="showSpinner"></span>
<br/><br/><br/>
<table class="table table-bordered">
    <tr  class="active">
        <TH>Master<br/>Disp.</TH>
        <TH>Skill Name</TH>
        <TH>Media Type</TH>
        <th>Automatic Wrap Up<br/>or Disposition?</th>
        <th>Disp/Max<br/>Time(sec.)</th>
        <th>Disp. Reqired</th>

    </tr>
    <tr ng-repeat="sk in Skills">
        <td><input type="checkbox" ng-model="sk.DispMaster" ng-checked="sk.DispMaster" ng-change="masterChange(sk.index)"/></td>
        <td>{{sk.skillName}}</td>
        <td>{{sk.mediaTypeName}}</td>
        <td>
            <label>
                <input type="radio" ng-model="sk.DispACW" value="ACW">
                ACW
            </label>
            <label>
                <input type="radio" ng-model="sk.DispACW" value="Disp" >
                Disp.
            </label>
            <label>
                <input type="radio" ng-model="sk.DispACW" value="None">
                None
            </label>
        </td>
        <td>{{sk.maxSecondsACW}}</td>
        <td><input type="checkbox" ng-model="sk.requireDisposition" ng-checked="sk.RequireDisposition" ng-disabled="sk.agentless"/></td>

    </tr>
</table>
<br/><br/>
<input type="submit" class="btn btn-primary btn-lg" ng-click="AddTeam()" value="ADD Team" />
