<h2 class="text-center">Skills</h2>
<span us-spinner spinner-on="showSpinner"></span>
<br/><br/><br/>

<input type="submit" class="btn btn-primary btn-lg" ng-click="AddSkill()" value="ADD Skill" />
<input type="submit" class="btn btn-primary btn-lg" ng-click="AddBRDSkill()" value="ADD BRD Skills" />
<br/><br/>
<table class="table table-bordered">
    <tr  class="active">
        <TH>Skill No</TH>
        <th>Skill Name</th>
        <th>Skill Type</th>
        <th>Status</th>
        <th>Campaign</th>
        <th>OB</th>
        <th>Custom<br/>CallerID</th>
        <th>SL/%</th>
        <th>Short<br/>Abandons</th>
        <th>Priority</th>
        <th></th>
    </tr>




    <tr ng-repeat="sk in SkillData">
        <td>{{sk.SkillNo}}</td>
        <td>{{sk.SkillName}}</td>
        <td>{{sk.MediaType}}</td>
        <td>{{sk.Status}}</td>
        <td>{{sk.CampaignName}}</td>
        <td>
        <input type="checkbox" ng-model="sk.OutboundSkill" ng-checked="sk.OutboundSkill" disabled="disabled"/>
        </td>
        <td>{{sk.CallerIDNumber}}</td>
        <td>{{sk.SLASeconds}}/{{sk.SLAPercent}}</td>
        <td>{{sk.UseShortAbandonThreshold}},{{sk.ShortAbandonThreshold}}</td>
        <td>({{sk.QueueInitPriority}}|{{sk.QueueAcceleration}}|{{sk.QueueMaxPriority}})</td>
        <td><button ng-click="ModSkill(sk)">Mod</button> </td>
    </tr>
</table>
