<h2 class="text-center">Skills {{buttonName}}</h2>
<br/><br/>
<table class="table table-bordered">
    <tr  class="active">
        <th>Skill No</TH>
        <th>Skill Name</TH>
        <th>Media Type</TH>
        <th>Status</TH>
        <th>Campaign Name</TH>
        <th>OB<br/>Skill</TH>
        <th>SLA<br/>Seconds</TH>
        <th>SLA<br/>Percent</TH>
    </tr>
    <tr >
        <td>{{modSkillData.SkillNo}}</td>
        <td><input type="text" ng-model="modSkillData.SkillName"/></td>
        <td>{{modSkillData.MediaType}}</td>
        <td>{{modSkillData.Status}}</td>
        <td>
            <select  ng-model="SkillCampSel" ng-change="CampSelected()">
                <option ng-repeat="camp in CampaignData" value="{{camp.CampaignName}}" >{{camp.CampaignName}}</option>
            </select>
        </td>

        <td><input type="checkbox" ng-model="modSkillData.OutboundSkill" ng-checked="modSkillData.OutboundSkill"/></td>
        <td><input type="text" ng-model="modSkillData.SLASeconds"/></td>
        <td><input type="text" ng-model="modSkillData.SLAPercent"/></td>
    </tr>
</table>
<table class="table table-bordered">
    <tr  class="active">
        <th>Notes</TH>
        <th>Description</TH>
        <th>Interruptible</TH>
        <th>From Email<br/>Editable</TH>
        <th>From Email<br/>Address</TH>
        <th>Bcc Email<br/>Address</TH>
    </tr>
    <tr >
        <td><input type="text" ng-model="modSkillData.Notes"/></td>
        <td><input type="text" ng-model="modSkillData.Description"/></td>
        <td><input type="checkbox" ng-model="modSkillData.Interruptible" ng-checked="modSkillData.Interruptible" /></td>
        <td><input type="checkbox" ng-model="modSkillData.FromEmailEditable" ng-checked="modSkillData.FromEmailEditable"/></td>
        <td><input type="text" ng-model="modSkillData.FromEmailAddress"/></td>
        <td><input type="text" ng-model="modSkillData.BccEmailAddress"/></td>
    </tr>
</table>
<table class="table table-bordered">
    <tr  class="active">
        <th>Use<br/>Disp.</TH>
        <th>Require<br/>Disp.</TH>
        <th>Disp.<br/>Timer</TH>
        <th>Queue Init<br/>Priority</TH>
        <th>Queue<br/>Acc.</TH>
        <th>Queue<br/>Max Priority</TH>
        <th>Queue<br/>Function</TH>
        <th>Active<br/>Min WorkTime</TH>
    </tr>
    <tr >
        <td><input type="checkbox" ng-model="modSkillData.UseDispositions" ng-checked="modSkillData.UseDispositions"/></td>
        <td><input type="checkbox" ng-model="modSkillData.RequireDispositions" ng-checked="modSkillData.RequireDispositions"/></td>
        <td><input type="text" ng-model="modSkillData.DispositionTimer"/></td>
        <td><input type="text" ng-model="modSkillData.QueueInitPriority"/></td>
        <td><input type="text" ng-model="modSkillData.QueueAcceleration"/></td>
        <td><input type="text" ng-model="modSkillData.QueueMaxPriority"/></td>
        <td>{{modSkillData.QueueFunction}}</td>
        <td><input type="text" ng-model="modSkillData.ActiveMinWorkTime"/></td>
    </tr>
</table>
<table class="table table-bordered">
    <tr  class="active">
        <th>OverrideCallerID</TH>
        <th>CallerID<br/>Number</TH>
        <th>Use Screen<br/>Pops</TH>
        <th>Use Custom<br/>ScreenPops</TH>
        <th>Custom ScreenPop App</TH>
        <th>Short Abandon<br/>Threshold</TH>
        <th>Use Short<br/>Abandon Threshold</TH>
        <th>Include<br/>Short Abandons</TH>
        <th>Include<br/>Other Abandons</TH>
        <th>Custom<br/>Script Name</TH>
        <th>Is Dialer</TH>
        <th>Enable<br/>Blending</TH>
    </tr>
    <tr >
        <td><input type="checkbox" ng-model="modSkillData.OverrideCallerID" ng-checked="modSkillData.OverrideCallerID"/></td>
        <td><input type="text" ng-model="modSkillData.CallerIDNumber"/></td>
        <td><input type="checkbox" ng-model="modSkillData.UseScreenPops" ng-checked="modSkillData.UseScreenPops"/></td>
        <td><input type="checkbox" ng-model="modSkillData.UseCustomScreenPops" ng-checked="modSkillData.UseCustomScreenPops"/></td>
        <td><input type="text" ng-model="modSkillData.CustomScreenPopApp"/></td>
        <td><input type="text" ng-model="modSkillData.ShortAbandonThreshold"/></td>
        <td><input type="checkbox" ng-model="modSkillData.UseShortAbandonThreshold" ng-checked="modSkillData.UseShortAbandonThreshold"/></td>
        <td><input type="checkbox" ng-model="modSkillData.IncludeShortAbandons" ng-checked="modSkillData.IncludeShortAbandons"/></td>
        <td><input type="checkbox" ng-model="modSkillData.IncludeOtherAbandons" ng-checked="modSkillData.IncludeOtherAbandons"/></td>
        <td><input type="text" ng-model="modSkillData.CustomScriptName"/></td>
        <td>{{modSkillData.IsDialer>boolean}}</td>
        <td><input type="checkbox" ng-model="modSkillData.EnableBlending" ng-checked="modSkillData.EnableBlending" /></td>
    </tr>
</table>
<br/>
<input type="submit" class="btn btn-primary btn-lg" ng-click="updateSkill()" value="{{buttonName}}" />

<input type="submit" class="btn btn-warning btn-lg" ng-click="cancelSkillUpdate()" value="Cancel" />

