<h2 class="text-center">List Skills Mods</h2>
<span us-spinner spinner-on="showSpinner"></span>
<br/><br/><br/>
<label > Select Skill Type </label>
<select  ng-model="SkillTypeSel" ng-change="skillTypeSelected()">
    <option ng-repeat="skillType in skillTypes" value="{{skillType.name}}" >{{skillType.name}}</option>
</select>
<br/><br/>
<label > Select Filter </label>
<select  ng-model="SkillFilterSel" ng-change="skillFilterSelected()">
    <option ng-repeat="skillFilterType in skillFilterTypes" value="{{skillFilterType.name}}" >{{skillFilterType.name}}</option>
</select>
<br/><br/>
<table class="table table-bordered">

    <tr  class="active">
        <th>Skill Name</th>
        <th>isActive</th>
        <th>Campaign</th>
        <th ng-show="showDirection">OB</th>
        <th ng-show="showCalledID">Custom<br/>CallerID</th>
        <th ng-show="showScript" >Custom<br/>Script</th>
        <th ng-show="showFromAddress">From Address</th>
        <th>SL/%</th>
        <th>Short<br/>Abandons</th>
        <th>Priority</th>
        <th>Priority<br/>Blending</th>
        <th>Disp.<br/>Type</th>
        <th>Req.<br>Disp.</th>
        <th ng-show="showCalledID">Agentless</th>
    </tr>




    <tr ng-repeat="sk in SkillData">
        <td>
            <input type="text" ng-model="sk.skillName"/>
        </td>
        <td>
            <input type="checkbox" ng-model="sk.isActive" ng-checked="sk.isActive" />
        </td>
        <td><select  ng-model="sk.campaignName" ng-change="campChanged(sk.index)" style="width:150px; max-width:150px">
            <option ng-repeat="camp in CampaignData" value="{{camp.CampaignName}}" >{{camp.CampaignName}}</option>
        </select></td>
        <td ng-show="showDirection">
            <input type="checkbox" ng-model="sk.isOutbound" ng-checked="sk.OutboundSkill"  Disabled="Disabled"/>
        </td>
        <td ng-show="showCalledID">
            <input type="text" ng-model="sk.callerIdOverride" size="10"  />
        </td>
        <td ng-show="showScript">
            <select  ng-model="sk.scriptName" ng-change="scriptChanged(sk.index)" style="width:150px; max-width:150px">
            <option ng-repeat="script in CustomScript" value="{{script.scriptName}}">{{script.scriptName}}</option>
        </select></td>
        <td ng-show="showFromAddress">
            <input type="text" ng-model="sk.FromEmailAddress" />
        </td>
        <td><input type="text" ng-model="sk.SLA"  size="5"/></td>
        <td><input type="text" ng-model="sk.ShortAbandon"  size="7"/></td>
        <td><input type="text" ng-model="sk.Priority" size="10" ng-disabled="sk.priDisabled" /></td>
        <td>
            <input type="checkbox" ng-model="sk.priorityBlending" ng-checked="sk.priorityBlending" ng-change="blendChange(sk.index)" />
        </td>
        <td>
            <input type="text" ng-model="sk.ACWDisposition" size="8" Disabled="Disabled"/>
        </td>
        <td>
            <input type="checkbox" ng-model="sk.requireDisposition" ng-checked="sk.requireDisposition" Disabled="Disabled"/>
        </td>
        <td>
            <input type="checkbox" ng-model="sk.agentless" ng-checked="sk.agentless" ng-show="showCalledID"/>
        </td>

    </tr>
</table>
<BR/>
<BR/>
<input type="submit" class="btn btn-primary btn-lg" ng-click="UpdateSkills()" value="Update Skills" />
